@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  border: none;

  --roboto: "Roboto", sans-serif;
  --orange: #f3451a;
  --gray: #868b8e;
  --bg-gray: #f6f4f9;
  --light-gray: #e1e2e7;
  --blue: #00b7d9;
}

.border {
  border: 2px solid red;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.bm-10 {
  margin-bottom: 10px;
}

.bm-5 {
  margin-bottom: 5px;
}

.rm-10 {
  margin-right: 10px;
}

.lm-10 {
  margin-left: 10px;
}

.relative {
  position: relative;
}

.light-text {
  font-weight: 100;
  font-size: 13px;
}

.bold-text {
  font-weight: bold;
}

.white {
  color: #fff;
}

.mw-300 {
  min-width: 300px;
}

.trips-list {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  height: 100vh;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.thumnail {
  border-radius: 50%;
  width: 50px;
}

.trips-user-container {
  min-height: 100vh;
  overflow-y: hidden;
  background: var(--bg-gray);
}

.user-panel {
  min-width: 200px;
  position: relative;
}

.user-info {
  padding: 15px;
  margin-top: 15px;
}

.btn-user-panel {
  border-left: 3px solid transparent;
  text-align: left;
  background: transparent;
  padding: 10px 15px;
  width: 100%;
}

.btn-user-panel:hover {
  border-left: 3px solid orange;
}

.user-bottom-section {
  position: absolute;
  bottom: 45px;
  width: 100%;
}

.card-container {
  margin-left: calc((100vw - 300px) / 2);
  margin-right: calc((100vw - 300px) / 2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.img-preview {
  width: 300px;
}

.user-line {
  border-top: 2px solid var(--gray);
  margin: 15px;
}

.description-card {
  margin-top: -5px;
  color: black;
  background: white;
  padding: 15px;
}

.nav-bar {
  box-sizing: border-box;
  position: fixed;
  padding: 10px;
  width: 100%;
  z-index: 10;
  background: var(--bg-gray);
}

.trip-container {
  margin-top: 38px;
  overflow-x: auto;
  height: 100vh;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.trip-sub-container {
  min-width: 300px;
}

.trip-stats {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px;
  box-sizing: border-box;
  color: white;
}

.stars {
  color: gold;
}

.image-trip {
  min-width: 100%;
}

.info-trip-container {
  padding: 17px;
}

.update-btn {
  background: var(--blue);
  padding: 5px 12px;
  margin: 20px;
  border-radius: 50px;
  color: white;
}

.fav-btn {
  width: 100%;
  background: var(--orange);
  padding: 10px 0;
}

.no-session-container {
  height: 100vh;
}

.session-options {
  opacity: 100;
  height: calc(100% / 3);
  font-family: var(--roboto);
  font-size: 14px;
}

.session-title {
  font-size: 2em;
  font-weight: 100;
}

.session-description {
  font-size: 11px;
  max-width: 200px;
  margin: 15px 0;
}

.session-btn {
  background: var(--orange);
  padding: 5px 15px;
  border-radius: 50px;
  width: 100px;
  box-shadow: 0 5px 15px rgba(243, 69, 26, 0.4);
}

.bg-no-session {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  height: 100%;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url(https://cdn.pixabay.com/photo/2018/03/12/20/07/maldives-3220702_960_720.jpg)
      no-repeat center center fixed;
  background-size: cover;
  overflow: auto;
}

.form-input {
  width: calc(100vw / 1.5);
  padding: 5px 10px;
  border: 1px solid var(--gray);
  background-color: transparent;
  text-align: center;
  margin: 15px 0;
  border-radius: 50px;
  color: var(--gray);
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-input:focus,
.input-file:focus + .form-input {
  outline: none;
  border: 1px solid var(--orange);
  box-shadow: 0 0 10px rgba(243, 69, 26, 0.4);
  color: var(--orange);
}

.link-back {
  color: var(--orange);
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 25px;
}

.delete-account-btn {
  background: transparent;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  color: red;
}

.loading-container {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  height: 100vh;
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.trip-management {
  margin-left: calc((100vw - 300px) / 2);
  margin-right: calc((100vw - 300px) / 2);
  overflow-x: hidden;
}

.trip-input {
  border: 1px solid var(--light-gray);
  border-radius: 3px;
  max-width: 280px;
  max-height: 100px;
}

.link-back-create-trip {
  position: absolute;
  color: var(--orange);
  font-size: 14px;
  bottom: 15px;
  right: 15px;
  margin-top: 15px;
}

.delete-trip-btn {
  margin: 35px auto;
  background: white;
  border: 2px solid red;
  padding: 5px;
  color: red;
  max-width: 75px;
  justify-self: center;
}

.error-msg {
  color: var(--orange);
  max-width: 300px;
  font-size: 12px;
}

@media (min-width: 768px) {
  .trip-slider {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 0 auto 50px auto;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  .destination {
    font-size: 2em;
  }

  .info-trip-container {
    max-width: 50%;
    margin: 0 auto;
  }

  .image-trip {
    max-height: 600px;
    width: 50%;
    object-fit: cover;
    object-position: center;
  }

  .fav-btn {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }

  .card-container {
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }

  .nav-bar {
    font-size: 2em;
  }

  .user-panel {
    width: 25%;
  }

  .session-btn:hover {
    cursor: pointer;
  }

  .trip-input {
    min-width: 500px;
  }

  .trip-management {
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: auto;
    width: 100%;
  }

  .delete-trip-btn {
    position: absolute;
    bottom: 25px;
    right: 25px;
  }

  .link-back-create-trip {
    position: relative;
    margin: 45px auto;
    border: 2px solid var(--orange);
    padding: 5px 10px;
  }
}
